$primaryColor: #414042;
$secondaryColor: #fff;

$contentFont: 'Arimo', sans-serif;
$titleFont: 'Roboto', sans-serif;
$logoFont: 'BankGothic Md BT', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1800px,
) !default;

@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
      @media (min-width: 0) {
        @content;
      }
    }
  
    @if $breakpoint == "xs-sm" {
      @media (min-width: 0) and (max-width: 576px) {
        @content;
      }
    }
  
    @if $breakpoint == "xs-md" {
      @media (min-width: 0) and (max-width: 767px) {
        @content;
      }
    }
  
    @if $breakpoint == "sm" {
      @media (min-width: 576px) {
        @content;
      }
    }
  
    @if $breakpoint == "sm-md" {
      @media (min-width: 576px) and (max-width: 767px) {
        @content;
      }
    }
  
    @if $breakpoint == "md" {
      @media (min-width: 767px) {
        @content;
      }
    }
  
    @if $breakpoint == "md-lg" {
      @media (min-width: 767px) and (max-width: 992px) {
        @content;
      }
    }
  
    @if $breakpoint == "lg" {
      @media (min-width: 992px) {
        @content;
      }
    }
  
    @if $breakpoint == "xl" {
      @media (min-width: 1200px) {
        @content;
      }
    }

    @if $breakpoint == "xl2" {
      @media (min-width: 1365px) {
        @content;
      }
    }
  
    @if $breakpoint == "xxl" {
      @media (min-width: 1800px) {
        @content;
      }
    }
  }