@import "variables";
@import "~src/fonts.css";

.footer-text {
    font-family: $contentFont;
    color: $primaryColor;
    letter-spacing: 0.023rem;
    line-height: 1.3rem;
    width: 50%;

    @include respond-to('xl') {
        width: 37.3%;
    }

    @include respond-to('xxl') {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

.music {
    svg, image {
        @include respond-to('xxl') {
            width: 54px;
            height: 42px;
        }
    }
}