<header class="d-flex row no-gutters col-12 mb-2 pt-xl-5">
  <div class="d-flex justify-content-around align-self-center social-links px-xl-2 col-1">

    <a class="facebook-icon-wrapper" href="https://www.facebook.com/Bylennox-Creative-873958342667918/" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="20px">
        <image x="0px" y="0px" width="12px" height="20px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAQAAAAT+RSaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBxYPAQ08/M67AAAAeElEQVQY02NkQAWcDCYMDAyfGC4iCwYwnGf4D4UWyML/kaADQuI+qgQLVNiKQQHKWsxwj4GB4QJMvQNU5X6YABMDDsDCwMDgwMDAYADlC0CtPYAwBBXiNgqPHbcYdjOwMghAbfnAcIGBgeEDQgHxzh0UEp+gNNwHAGm9Md2aghiBAAAAAElFTkSuQmCC"
        />
      </svg>
    </a>

    <a class="mail-icon-wrapper" href="mailto:bylennox@gmail.com">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="18px">
        <image x="0px" y="0px" width="25px" height="18px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAASCAQAAAAEJ70rAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBxYPAwKedbGoAAABH0lEQVQoz43TsSvEcRjH8ZdLMX4zyEBuUkh+zq7LaDZIRFkNVwaTspoYpfQbbFZlIpJkcieD/A3i7ixi8DPcuY47/J5neT59n3fP8/Q83w4wJEhj70q1YF6S2jcgq9dSSmBNkM3IenBrQuWfpqrmHTuXzSA402/K3R/As2n3Lo2TAcGRSVNfw7VYSc6oMz01mW90uoO4zQQngpWGyjcjiViw+QOIsd+kfyCJG8Fyky7odvAtowVJ7GFCWeLFIi1VW5BYcCoy5kpkUGzA1l9IwbCSRNkMImWJR5Flb+2QqoV6Us23VepR2axc46WBPIks+vj1VFaNKDYjRYPW/7mvXcHFF3IotF1hu5XG8gTBdcpLLurT1alixqvzVF+MOTufH6oUjMuBSpcAAAAASUVORK5CYII="
        />
      </svg>
    </a>
  </div>

  <div class="logo-and-title col-11 no-gutters d-flex">
    <div class="title align-self-center col-6 col-md-8 col-xl-9">
      <span class="{{isMusic ? 'music-on' : ''}}" (click)="setMusic(true)">{{titleText}}</span>
    </div>
    <div class="text-uppercase col-6 col-md-4 col-xl-3 px-2 logo">
      {{logoText}}
    </div>
  </div>
</header>